{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<!-- Default form login -->
<form class="text-center border border-light p-5" method="post" action="{{ path('login') }}">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="text"  name="_username" class="form-control mb-4" placeholder="E-mail" required>

    <!-- Password -->
    <input type="password"  name="_password" class="form-control mb-4" placeholder="Password" required>

    <div class="d-flex justify-content-around">
       
      
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    <p style="color:red">  </p>

    <!-- Register -->
    <p>Not a member?
        <a href="/signup">Register</a>
    </p>


</form>
<!-- Default form login -->

</div>
{% endblock %}